<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/index.css">

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <ul id="buddy">
      


    </ul>

<!-- 
    <form action="/post" method="post">
     
      <input type="text" id="1" name="fname"><br><br>
      
      <input type="submit" value="Submit">
   
    
    
    </form> -->
      <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>